* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
}

main {
  margin: auto;
  width: 50%;
  padding: 20px;
}

main > h1 {
  text-align: center;
  font-size: 3.5em;
}

/*-----------------------------LOADER------------------------------*/

body {
    background-image: radial-gradient(circle farthest-corner at center, #3C4B57 0%, #1C262B 100%);
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

  .inner.one {
      left: 0%;
      top: 0%;
      animation: rotate-one 1s linear infinite;
      border-bottom: 3px solid #EFEFFA;
  }

  .inner.two {
      right: 0%;
      top: 0%;
      animation: rotate-two 1s linear infinite;
      border-right: 3px solid #EFEFFA;
  }

  .inner.three {
      right: 0%;
      bottom: 0%;
      animation: rotate-three 1s linear infinite;
      border-top: 3px solid #EFEFFA;
  }

@keyframes rotate-one {
  0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }

  100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }

  100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }

  100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/*-----------------------------LOADER END--------------------------*/

td.details-control {
  background: url('image/details_open.png') no-repeat center center;
  cursor: pointer;
}

tr.shown td.details-control {
  background: url('image/details_close.png') no-repeat center center;
}

/*--------------------Drag and Drop ---------------------------*/

.note {
  width: 500px;
  margin: 50px auto;
  font-size: 1.1em;
  color: #333;
  text-align: justify;
}
.droparea {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 90%;
  margin: 50px auto;
  padding: 5px;
}
.droparea.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
.gallery {
  margin-top: 10px;
}
.gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
.fileElem {
  display: none;
}
/*--------------------End Drag and Drop ---------------------------*/

.dialog-ovelay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 999999
}
.dialog-ovelay .dialog {
  width: 400px;
  margin: 100px auto 0;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  border-radius: 3px;
  overflow: hidden
}
.dialog-ovelay .dialog header {
  padding: 10px 8px;
  background-color: #f6f7f9;
  border-bottom: 1px solid #e5e5e5
}
.dialog-ovelay .dialog header h3 {
  font-size: 14px;
  margin: 0;
  color: #555;
  display: inline-block
}
.dialog-ovelay .dialog header .fa-close {
  float: right;
  color: #c4c5c7;
  cursor: pointer;
  transition: all .5s ease;
  padding: 0 2px;
  border-radius: 1px    
}
.dialog-ovelay .dialog header .fa-close:hover {
  color: #b9b9b9
}
.dialog-ovelay .dialog header .fa-close:active {
  box-shadow: 0 0 5px #673AB7;
  color: #a2a2a2
}
.dialog-ovelay .dialog .dialog-msg {
  padding: 12px 10px
}
.dialog-ovelay .dialog .dialog-msg p{
  margin: 0;
  font-size: 15px;
  color: #333
}
.dialog-ovelay .dialog footer {
  border-top: 1px solid #e5e5e5;
  padding: 8px 10px
}
.dialog-ovelay .dialog footer .controls {
  direction: rtl
}
.dialog-ovelay .dialog footer .controls .button {
  padding: 5px 15px;
  border-radius: 3px
}
.button {
cursor: pointer
}
.button-default {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgba(204, 204, 204, 0.5);
  color: #5D5D5D;
}
.button-danger {
  background-color: #f44336;
  border: 1px solid #d32f2f;
  color: #f5f5f5
}
.link {
padding: 5px 10px;
cursor: pointer
}